<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/styles.css" rel="stylesheet">
    <script defer src="../../static/js/main.js"></script>
</head>
<body>
<div th:fragment="head">
    <div class="logo">
        <h1><a class="logoLink" href="/homepage">Flavio</a></h1>
    </div>
    <nav>
        <ul>
            <li><a href="/registration">Sign up</a></li>
            <li><a class="active" href="/login">Sign in</a></li>
            <li><a href="/restaurants">Restaurants</a></li>
        </ul>
    </nav>
</div>
</body>
</html>