<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/images/mini-logo%20(1).svg">
    <title>Flavio</title>
    <link href="/static/styles.css" rel="stylesheet">
    <script defer src="../static/js/main.js"></script>
</head>
<body>
<header>
    <div class="logo">
        <h1><a class="logoLink" href="/homepage">Flavio</a></h1>
    </div>
    <input type="text" class="search-bar" placeholder="Search for restaurants..." />
    <nav>
        <ul>
            <li sec:authorize="!isAuthenticated()"><a href="/registration">Sign up</a></li>
            <li sec:authorize="!isAuthenticated()"><a class="active" href="/login">Sign in</a></li>
            <li><a href="/restaurants">Restaurants</a></li>
            <li sec:authorize="hasAuthority('ADMIN')"><a class="active" href="/admin-page">Users</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/profile"><img class="avatar" src="/static/images/default-avatar.jpg" alt="Profile" /></a></li>
        </ul>
    </nav>
</header>
<main>
    <div th:action="@{/homepage}" class="recent-activity">
        <h2>Recent Activity</h2>
        <div class="recent-reviews">
            <div class="review">
                <img src="https://eda.yandex.ru/images/3534679/1564f7c5ef3ce4660dcf9e742d605a0e-450x300.jpg" alt="Restaurant 1">
                <h3>Restaurant 1</h3>
                <h4>Author 1</h4>
                <br>
                <p>Great burger and fries!</p>
            </div>
            <div class="review">
                <img src="https://eda.yandex.ru/images/1368744/7255046d3da482bff03b125e67d23bb6-450x300.jpg" alt="Restaurant 2">
                <h3>Restaurant 2</h3>
                <h4>Author 2</h4>
                <br>
                <p>Delicious pizza!</p>
            </div>
            <div class="review">
                <img src="https://eda.yandex.ru/images/3512182/832aa28e05f0a14a1f16fb99e4468cee-450x300.jpg" alt="Restaurant 3">
                <h3>Restaurant 3</h3>
                <h4>Author 3</h4>
                <br>

                <p>Amazing sushi!</p>
            </div>
        </div>
    </div>
</main>
</body>
<div class="footer">
    <p class="text-muted text-center mb-0" align="center">&copy; 2023 Flavio. All rights reserved.</p>
</div>
</html>