<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resview</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script defer src = "../static/main.js"></script>
</head>
<body>
<header>
    <div class="logo">
        <h1><a class="logoLink" href="homepage.html">Resview</a> </h1>
    </div>
    <nav>
        <ul>
            <li><a href="signup.html">Sign up</a></li>
            <li><a href="signin.html">Sign in</a></li>
            <li><a href="restaurants.html">Restaurants</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="recent-activity">
        <h2>Recent Activity</h2>
        <div class="recent-reviews">
            <div class="review">
                <img src="https://eda.yandex.ru/images/3534679/1564f7c5ef3ce4660dcf9e742d605a0e-450x300.jpg" alt="Restaurant 1">
                <h3>Restaurant 1</h3>
                <h4>Author 1</h4>
                <br>
                <p>Great burger and fries!</p>
            </div>
            <div class="review">
                <img src="https://eda.yandex.ru/images/1368744/7255046d3da482bff03b125e67d23bb6-450x300.jpg" alt="Restaurant 2">
                <h3>Restaurant 2</h3>
                <h4>Author 2</h4>
                <br>
                <p>Delicious pizza!</p>
            </div>
            <div class="review">
                <img src="https://eda.yandex.ru/images/3512182/832aa28e05f0a14a1f16fb99e4468cee-450x300.jpg" alt="Restaurant 3">
                <h3>Restaurant 3</h3>
                <h4>Author 3</h4>
                <br>

                <p>Amazing sushi!</p>
            </div>
        </div>
    </div>
</main>
</body>
<div class="footer">
    <p class="text-muted text-center mb-0" align="center">&copy; 2023 Resview. All rights reserved.</p>
</div>
</html>
