<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/images/mini-logo%20(1).svg">
    <title>Flavio - Sign In</title>
    <link href="/static/styles.css" rel="stylesheet">
    <script defer src="../static/js/main.js"></script>
</head>
<body>
<header>
    <div class="logo">
        <h1><a class="logoLink" href="/homepage">Flavio</a></h1>
    </div>
    <input type="text" class="search-bar" placeholder="Search for restaurants..." />
    <nav>
        <ul>
            <li sec:authorize="!isAuthenticated()"><a href="/registration">Sign up</a></li>
            <li sec:authorize="!isAuthenticated()"><a class="active" href="/login">Sign in</a></li>
            <li><a href="/restaurants">Restaurants</a></li>
            <li sec:authorize="hasAuthority('ADMIN')"><a class="active" href="/admin-page">Users</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/profile"><img class="avatar" src="/static/images/default-avatar.jpg" alt="Profile" /></a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="signup-form">
    <div class="login-container">
        <h2>Sign In</h2>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <button type="submit" value="Log in" class="btn-primary reg">Sign In</button>
            </div>
            <div th:if="${errorMessage}" class="error-message">
                <span th:text="${errorMessage}"></span>
            </div>
        </form>
    </div>
        <p>Don't have an account yet? <a href="/registration">Sign up here</a>.</p>
    </div>
</main>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>
