<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/images/mini-logo%20(1).svg">
    <title>Flavio - Log Out</title>
    <link href="/static/styles.css" rel="stylesheet">
    <script defer src="../static/js/main.js"></script>
</head>
<body>
<header>
    <div class="logo">
        <h1><a class="logoLink" href="/homepage">Flavio</a></h1>
    </div>
    <nav>
        <ul>
            <li sec:authorize="!isAuthenticated()"><a href="/registration">Sign up</a></li>
            <li sec:authorize="!isAuthenticated()"><a class="active" href="/login">Sign in</a></li>
            <li><a href="/restaurants">Restaurants</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/profile"><img src="avatar.jpg" alt="Profile"/></a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="logout-container">
        <h2>Are you sure you want to log out?</h2>
        <form action="/logout" th:action="@{/logout}" method="post">
            <button type="submit" value="Log Out">Log Out</button>
        </form>
    </div>
</main>

<footer>
    <div class="footer">
        <p class="text-muted text-center mb-0" align="center">&copy; 2023 Flavio. All rights reserved.</p>
    </div>
</footer>
</body>
</html>
