<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--@author Khabibullin Alisher		-->
<head>
    <title>Payment Success</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
<div class="success">
    <h1>Payment Success</h1>
    <p>Thank you for your payment.</p>
</div>
<div class="containerPay">
    <div class="card">
        <div class="card-body" th:object="${order}">
            <h5>Order Details</h5>
            <ul>
                <li>Order ID: <span th:text="${order.getId()}"></span></li>
                <li>Date: <span th:text="${order.getDate()}"></span></li>
                <li>Total: <span th:text="${order.getTotal()}"></span></li>
<!--                TODO: make somehow restaurant to show-->
<!--                <li>Restaurant: <span th:text="${order.restaurant.name}"></span></li>-->
                <!--                            <li>User: <span th:text="${order.user.username}"></span></li>-->
                <li>Dishes:
                    <ul>
                        <li th:each="dish: ${order.getDishes()}" th:text="${dish.getName()}"></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <small class="back"><a href="/restaurants">Return to Restaurants</a></small>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>
