<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/images/mini-logo%20(1).svg">
    <title>Flavio - Sign Up</title>
    <link href="/static/styles.css" rel="stylesheet">
    <script defer src="../static/js/main.js"></script>
    <script defer src="../static/js/registration.js"></script>
</head>
<body>
<header>
    <div class="logo">
        <h1><a class="logoLink" href="/homepage">Flavio</a></h1>
    </div>
    <nav>
        <ul>
            <li><a href="/registration">Sign up</a></li>
            <li><a class="active" href="/login">Sign in</a></li>
            <li><a href="/restaurants">Restaurants</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="signup-form">
        <h2>Create a Flavio Account</h2>
        <form action="/registration" th:action="@{/registration}" method="post" th:object="${signUpDto}">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" th:field="*{username}" required>
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error"></div>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" th:field="*{email}" required>
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></div>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" th:field="*{password}" required>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></div>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm Password:</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
            </div>
            <div class="form-group" th:method="post">
                <button type="submit" class="btn-primary">Sign Up</button>
            </div>
        </form>
        <p>Already have an account? <a href="login.html">Sign in here</a>.</p>
    </div>
</main>
<div class="footer">
    <p class="text-muted text-center mb-0" align="center">&copy; 2023 Flavio. All rights reserved.</p>
</div>
</body>
</html>
