<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/images/mini-logo%20(1).svg">
    <title>Flavio - Restaurants</title>
    <link href="/static/styles.css" rel="stylesheet">
    <script defer src="../static/js/main.js"></script>
    <script defer src="../static/js/restaurant.js"></script>
</head>
<body>
<header>
    <div class="logo">
        <h1><a class="logoLink" href="/homepage">Flavio</a></h1>
    </div>
    <input type="text" class="search-bar" placeholder="Search for restaurants..." />
    <label for="address-dropdown"></label>
    <div sec:authorize="isAuthenticated()">
        <label for="address-dropdown"></label>
        <select id="address-dropdown" name="address-dropdown">
            <option selected>Choose an address</option>
            <option value="saved-addresses">Saved Addresses</option>
        </select>
    </div>

    <nav>
        <ul>
            <li sec:authorize="!isAuthenticated()"><a href="/registration">Sign up</a></li>
            <li sec:authorize="!isAuthenticated()"><a class="active" href="/login">Sign in</a></li>
            <li><a href="/restaurants">Restaurants</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/profile"><img class="avatar" src="/static/images/default-avatar.jpg" alt="Profile" /></a></li>
        </ul>
    </nav>
</header>
<main>


    <div class="restaurant-filters">
        <div sec:authorize="isAuthenticated()">
            <div class="form-group"></div>
        <button id="filterButton" class="btn">Filters</button>
        <div id="filterOptions" class="filter-options" style="display: none">
            <h3>Filter Options</h3>
            <form action="/restaurants" method="get" class="filter-options">
                <div class="form-group">
                    <label for="rating">Rating:</label>
                    <select id="rating" name="rating">
                        <option value="" selected>Any</option>
                        <option value="1">1 Star</option>
                        <option value="2">2 Stars</option>
                        <option value="3">3 Stars</option>
                        <option value="4">4 Stars</option>
                        <option value="5">5 Stars</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="cuisine">Cuisine:</label>
                    <select id="cuisine" name="cuisine" multiple>
                        <option value=""  selected>Any</option>
                        <option value="ITALIAN">Italian</option>
                        <option value="CHINESE">Chinese</option>
                        <option value="MEXICAN">Mexican</option>
                        <option value="AMERICAN">American</option>
                        <option value="FRENCH">French</option>
                        <option value="JAPANESE">Japanese</option>
                        <option value="GEORGIAN">Georgian</option>
                        <option value="RUSSIAN">Russian</option>
                        <option value="KOREAN">Korean</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="distance">Distance:</label>
                    <select id="distance" name="distance" multiple>
                        <option value=""  selected>Any</option>
                        <option value="1">Less than 1 km</option>
                        <option value="5">Less than 5 km</option>
                        <option value="10">Less than 10 km</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="price">Price:</label>
                    <select id="price" name="price" multiple>
                        <option value="" selected>Any</option>
                        <option value="$">$</option>
                        <option value="$$">$$</option>
                        <option value="$$$">$$$</option>
                    </select>
                </div>
                <div class="form-group" th:method="post">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                    <button type="submit" class="btn-primary" onclick="redirectToFiltered(); return false;">Filter</button>
                </div>
            </form>
        </div>
        </div>
    </div>
    <div class="restaurant-list">
        <h2>Restaurants</h2>
        <div class="restaurant-list">
            <div class="restaurant-row">
                <div th:each="restaurant : ${restaurants}" class="restaurant-item">
                    <div class="restaurant">
                        <img class="restaurant-image" th:src="@{'/static/images/' + ${restaurant.id} + '.jpg'}" alt="Restaurant Image">
                        <h3><a th:href="@{/restaurants/{id}(id=${restaurant.id})}" th:text="${restaurant.name}">Restaurant Name</a></h3>
                        <p><strong>Rating:</strong> <span th:text="${restaurant.getGeneralRating()}"></span></p>
                        <p><strong>Cuisines Rating:</strong> <span th:text="${restaurant.getCuisineRatings()}"></span></p>
                        <p><strong>Address:</strong> <span th:text="${restaurant.getAddress()}"></span></p>
                        <p><strong>Description:</strong> <span th:text="${restaurant.getDescription()}"></span></p>
                        <p><strong>Price:</strong> <span th:text="${restaurant.price}"></span></p>
                    </div>
                    <!-- Close the restaurant div and add the following code -->
                    <!-- If the iteration count is divisible by 3, create a new restaurant row -->
                    <th:block th:if="${(restaurant.id + 1) % 3 == 0}"/>
                </div><div class="restaurant-row">
                </th:block>
            </div>
            </div>
        </div>
    </div>


</main>

<div class="footer">
    <p class="text-muted text-center mb-0" align="center">&copy; 2023 Flavio. All rights reserved.</p>
</div>
</body>
</html>
