<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Resview - Restaurants</title>
    <link href="/static/styles.css" rel="stylesheet">
    <script defer src="../static/main.js"></script>
    <script defer src="../static/restaurant.js"></script>
</head>
<body>
<header>
    <div class="logo">
        <h1><a class="logoLink" href="/homepage">Resview</a></h1>
    </div>
    <nav>
        <ul>
            <li sec:authorize="!isAuthenticated()"><a href="/registration">Sign up</a></li>
            <li sec:authorize="!isAuthenticated()"><a class="active" href="/login">Sign in</a></li>
            <li><a href="/restaurants">Restaurants</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/profile"><img src="avatar.jpg" alt="Profile"/></a></li>
        </ul>
    </nav>
</header>
<main>

    <div class="restaurant-filters">
        <button id="filterButton" class="btn-secondary">Filters</button>
        <div id="filterOptions" class="filter-options" style="display: none">
            <h3>Filter Options</h3>
            <form action="/restaurants" method="get" class="filter-options">
                <div class="form-group">
                    <label for="rating">Rating:</label>
                    <select id="rating" name="rating" multiple>
                        <option value="" selected>Any</option>
                        <option value="1">1 Star</option>
                        <option value="2">2 Stars</option>
                        <option value="3">3 Stars</option>
                        <option value="4">4 Stars</option>
                        <option value="5">5 Stars</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="cuisine">Cuisine:</label>
                    <select id="cuisine" name="cuisine" multiple>
                        <option value=""  selected>Any</option>
                        <option value="Italian">Italian</option>
                        <option value="Chinese">Chinese</option>
                        <option value="Mexican">Mexican</option>
                        <option value="American">American</option>
                        <option value="French">French</option>
                        <option value="Japanese">Japanese</option>
                        <option value="Georgian">Georgian</option>
                        <option value="Russian">Russian</option>
                        <option value="Korean">Korean</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="distance">Distance:</label>
                    <select id="distance" name="distance" multiple>
                        <option value=""  selected>Any</option>
                        <option value="1">Less than 1 km</option>
                        <option value="5">Less than 5 km</option>
                        <option value="10">Less than 10 km</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="price">Price:</label>
                    <select id="price" name="price" multiple>
                        <option value="" selected>Any</option>
                        <option value="1">$</option>
                        <option value="2">$$</option>
                        <option value="3">$$$</option>
                    </select>
                </div>
                <div class="form-group" th:method="get">
                    <button type="submit" class="btn-primary">Filter</button>
                </div>
            </form>
        </div>
    </div>
    <div class="restaurant-list">
        <h2>Restaurants</h2>
        <div class="restaurant-list">
            <div th:each="restaurant : ${restaurants}">
                <div class="restaurant">
                    <h3><a th:href="@{/restaurants/{id}(id=${restaurant.id})}" th:text="${restaurant.name}">Restaurant Name</a></h3>
                    <p><strong>Rating:</strong> <span th:text="${restaurant.getGeneralRating()}"></span></p>
                    <p><strong>Cuisines Rating:</strong> <span th:text="${restaurant.getCuisineRatings()}"></span></p>
                    <p><strong>Address:</strong> <span th:text="${restaurant.getAddress()}"></span></p>
                    <p><strong>Description:</strong> <span th:text="${restaurant.getDescription()}"></span></p>
                    <p><strong>Price:</strong> <span th:text="${restaurant.price}"></span></p>
                </div>
            </div>
        </div>
    </div>

</main>

<div class="footer">
    <p class="text-muted text-center mb-0" align="center">&copy; 2023 Resview. All rights reserved.</p>
</div>
</body>
</html>
