<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resview - Sign Up</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script defer src="../static/main.js"></script>
</head>
<body>
<header>
    <div class="logo">
        <h1><a class="logoLink" href="homepage.html">Resview</a></h1>
    </div>
    <nav>
        <ul>
            <li><a href="signup.html" class="active">Sign up</a></li>
            <li><a href="signin.html">Sign in</a></li>
            <li><a href="restaurants.html">Restaurants</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="signup-form">
        <h2>Create a Resview Account</h2>
        <form action="" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm Password:</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn-primary">Sign Up</button>
            </div>
        </form>
        <p>Already have an account? <a href="signin.html">Sign in here</a>.</p>
    </div>
</main>
<div class="footer">
    <p class="text-muted text-center mb-0" align="center">&copy; 2023 Resview. All rights reserved.</p>
</div>
</body>
</html>
